@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.home-page {
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
  text-align:center;
  margin: 0 auto;
  padding: 0 auto;
  background-color:rgb(168, 238, 240)
}

.home-image {
  width:100%;
}

.navbar {
  height: 8vh;
  background-color:rgb(168, 191, 240);
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-icon {
  height: 4vh;
  padding: 2vh 5vw;
}

.nav-title {
  font-family:'Permanent Marker';
}